.brand{
    width: 100%;
    margin: auto;
    position: relative;
    top:-12rem;
}

.brand__content-container{
    display: flex;
    padding: 80px 60px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    backdrop-filter: blur(66px);
    border: 8px solid #000;
    border-radius: 60px;
    width:98%;
    margin: auto;


}

.brand__content-container h1{
    color: #0B0B0B;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    padding: 0 8rem;
    font-weight: 670;
}

.brand__content-container p{
    color: #838383;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 673;
    padding: 0 8rem;
    line-height: 139%; /* 27.8px */
}

.brand-image{
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    text-align: center;

}
.brand-image img{

    width: 100px;
    height: 100px;

}

@media screen and (max-width: 1050px) {
    .header{
        flex-direction: column;
    }
    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {

    .brand{
   
        top:-5rem;
    }
    .brand__content-container h1{
        font-size: 34px;
        padding: 0;
    }
    .brand__content-container p{
        font-size: 14px;
        padding: 0;
    }
    .header-content  p{
        font-size: 18px;
        line-height: 24px;
        padding: none;
        margin-bottom: 2rem;


    }
    .brand-image img{

        width: 80px;
        height: 80px;
    
    }
    .brand__content-container{
        padding: 40px 30px;
        gap: 16px;
    
    
    }
  


}
