.customer {
    text-align: center;
    width: 100%;

}

.customer-content h1{
    color: #0B0B0B;
    text-align: center;
    font-family: var(--font-family);
    font-size: 80px;
    font-weight: 724;
    letter-spacing: -1.6px;
    margin-bottom: 2rem;


}

.customer-content p{
    color: #656565;
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.48px;
    padding: 0 3.4rem;

}

.content{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;

}



.content-number1{
    background: #F1F1F1;
    border-radius: 6px;
    padding:1rem 4rem;
    display: inline-block;
    justify-items: center;
    


}

.content-number1 h4 {
    font-size: 48px;
    font-style: normal;
    font-weight: 739;
    line-height: 140%; /* 67.2px */

}

.content-number1 p{
    color: #7B7B7B;
    text-align: center;
    font-size: 24px;
    font-weight: 531;
    line-height: 140%; 

}

/************************* COMMENT SECTION *****************************/

.comment{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;

    
}

.comment-section{
    display: flex;
    padding: 13px 40px;
    width: 25rem;
    border-radius: 12px;
    border: 3px solid #E5E5E6;
    background: #F3F3F3;
    
}

.comment-section1{
    margin-top: -3rem;
    margin-left: -8rem;
    border: 3px solid #E5E0F2;
    background: #F3F1F9;
    width: 25rem;
    display: flex;
    padding: 13px 40px;
    height: 6rem;
    border-radius: 12px;
}

.comment-section2{
    margin-left: 3rem;
    border: 3px solid #D9E6ED;
    background: #EEF4F7;    
    width: 25rem;
    display: flex;
    padding: 13px 40px;
    height: 5rem;
    border-radius: 12px;
}

.comment-section3{
    background: #EEF4F7;    
    width: 25rem;
    display: flex;
    padding: 13px 40px;
    height: 6rem;
    margin-top: -6rem;
    border-radius: 12px;
    margin-right: -9rem;
    border-radius: 12px;
    border: 3px solid #EDE0E0;
    background: #F9F1F1;
}

.comment-section4{
    position: relative;
    background: #EEF4F7;    
    width: 25rem;
    display: flex;
    padding: 13px 40px;
    height: 6rem;
    bottom: 7rem;
    left: 30rem;
    border-radius: 12px;
    border: 3px solid #EEE3D8;
    background: #F5F0EB;
}

.comment-section1 p{
    color: #4F4179;
    font-size: 12px;
    line-height: 140%; /* 22.4px */
}

.comment-section2 p{
    color: #48565F;
    font-size: 12px;
    line-height: 140%; /* 22.4px */
}

.comment-section3 p{
    color: #854040;
    font-size: 12px;
    line-height: 140%; /* 22.4px */
}
.comment-section4 p{
    color: #87623C;
    font-size: 12px;
    line-height: 140%; /* 22.4px */
}


.comment-section p{
    color: #595F62;
    font-size: 12px;
    line-height: 140%; /* 22.4px */
}


.image img{
    position: absolute;
    width:6%;
    left: 23rem;
    margin-top: 1rem;
}
.image1 img{
    position: absolute;
    width:5%;
    left: 32rem;  
    margin-top: -2rem;
}

.image2 img{
    position: absolute;
    width:5%;
    left: 1rem;  
    margin-top: -2rem;
}

.image3 img{
    position: absolute;
    width:5%;
    margin-top: 3rem;
}
.image4 img{
    position: absolute;
    width:20%;
    margin-top: 2rem;
    right: 23rem;  

}
/********************for mobile ****************/
.comment-0{
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    gap: 3rem;

}

.comment-section-0{
    border: 3px solid #E5E0F2;
    background: #F3F1F9;
    display: flex;
    padding: 13px 40px;
    border-radius: 12px;

}


.comment-section-0 p{
    font-size: 13px;

}
.image-0 img{
    position: absolute;
    width:14%;
    left: 19rem;
    margin-top: 4rem;

}



@media screen and (min-width: 700px) {
    .comment-0{
        display: none;
    }
  
    

}

@media screen and (max-width: 650px) {
    
    .customer-content h1{
        font-size: 40px; 
    }
    
    .customer-content p{
        font-size: 16px;
        padding: 0;
    
    }

    .content-number1{
        padding:1rem;
        justify-items: center;
        width: 100%;

        
    
    
    }
    
    .content-number1 h4 {
        font-size: 20px;
    
    }
    
    .content-number1 p{
        font-size: 18px;
     
    
    }

    .comment{
        display: none;
    }

   
   
 
   

}
