
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Manrope:wght@200;300;400;600;700;800&display=swap');

:root{
  --font-family: 'Inter', sans-serif;

  --color-bg:#FFFFFF;
  --color-bg2:#FFFFFF;

  --color-footer:#181818;
  --color-text:#0B0B0B;
  --color-text2:#A1A1A1;
  --color-links: #777;






}

