
.header {
    display: flex;
    text-align: center;
   
}
  
.header-content h1{
    color: #0B0B0B;
    text-align: center;
    font-family: var(--font-family);
    font-size: 80px;
    font-weight: 724;
    margin-bottom: 2rem;


}

.header-content p{
    color: #656565;
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.48px;
    align-self: stretch;
    padding: 0 3.4rem;
    margin-bottom: 4rem;


}
.box {
    width: 99.258px;
    height: 97.211px;
    flex-shrink: 0;
    position: relative;
    top:1.5rem;
}

.header-button{
    display: flex;
    gap: 8px;
    justify-content: center;

}

.header-button .button1{
    display: flex;
    padding: 25px 100px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #0B0B0B;
    color: aliceblue;
    font-family: Inter;
    font-size: 24px;
    border: none;

    
}
.header-button .button2{
    display: flex;
    padding: 25px 100px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 24px;
    background: none;
    border-radius: 12px;
    border: 2px solid #000;


    
}

.header-content__human{
    display: flex;
    justify-content: center;
    width: 108%;
    
}
.header-content__human img{
    max-width: 100%;
    position: relative;
    top: -9.8rem;
    display: flex;
    justify-content: center;

}
  
@media screen and (max-width: 1050px) {
    .header{
        flex-direction: column;
    }
  
}

@media screen and (max-width: 650px) {
    .header-content h1{
        font-size: 58px;
        line-height: 60px;
    }
    .header-content  p{
        font-size: 16px;
        padding: 0;
        margin-bottom: 2rem;


    }
    .box {
        width: 60px;
        height: 60px;
        position: relative;
        top:0.2rem;
    }
    .header-button .button1{
        padding: 15px 20px;
        font-size: 14px;
  
    }
    .header-button .button2{
        padding: 15px 20px;
        font-size: 14px;
 
    }

    .header-content__human img{
        max-width: 100%;
        position: relative;
        top: -2.8rem;
        display: flex;
        justify-content: center;
    
    }

}

@media screen and (max-width: 490px) {
    .gpt3__header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .gpt3__header p{
        font-size: 14px;
        line-height: 24px;
    }
    .gpt3__header-content__input input,
    .gpt3__header-content__input button{ 
      
        font-size: 12px;
        line-height: 16px;
            
    }

}
  

